<h1>Bienvenue sur Eventbrite</h1>

 <P>
 Clique <%= link_to "ici", new_events_path %> pour créer un événement
 </p>

 <h3> Voici les événements à venir : <h3>

 <% @events.each do |event| %>
   
    <h3><%= link_to event.title, events_path(event) %></h3>
    
 <% end %>
         
   


